[submodule "ECommons"]
	path = ECommons
	url = https://github.com/NightmareXIV/ECommons.git
	branch = master
[submodule "AutoRetainerAPI"]
	path = AutoRetainerAPI
	url = https://github.com/PunishXIV/AutoRetainerAPI
[submodule "AutoScrip/ECommons"]
	path = AutoScrip/ECommons
	url = https://github.com/NightmareXIV/ECommons.git
